:root {
    --background-color: #2B2B2B;
    --text-color: #FFF;
    --button-background-color: #A259FF;
    --image-background-color: #3B3B3B;
    --side-margin: 115px;
    --caption-label-text: #858584;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: "Work Sans";
    background-color: var(--background-color);
    font-size: 20px;
}

/* Header Navbar */

.navigation {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: white;
}

.navigation h2 {
    margin-left: 40px;
}

.navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 50px;
    margin-left: 30%;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.navigation ul li {
    list-style: none;
}

.navigation #signUp {
    margin-right: 40px;
    display: flex;
    height: 60px;
    width: 130px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--button-background-color);
    color: var(--text-color);
}

/* Hero Section */

.hero-section {
    padding-inline: var(--side-margin);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

.hero-section__content {
    width: 510px;
    height: 544px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    /* margin-left: 115px; */
    margin-bottom: 80px;
}

.hero-section__content h1 {
    /* width: 510px;
    height: 222px; */
    font-family: "Work Sans";
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 73.7px */
    text-transform: capitalize;
    color: var(--text-color);
}

.hero-section__content p {
    font-family: "Work Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 35.2px */
    text-transform: capitalize;
    color: var(--text-color);

}

#heroSectonLabel {
    width: 224px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 15px;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--button-background-color);
}

/* .list-items .list1 li,
.list-items .list2 li {
    list-style: none;
}

.list-items ul {
    display: flex;
    gap: 100px;
    color: var(--text-color);
}

.list-items .list1 ul li {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
}

.list-items .list2 ul li {
    font-size: 18px;
    font-style: normal;
    line-height: 160%;
    text-transform: capitalize;
    width: 90px;
    height: 30px;
}
*/

.list-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.list-items div p.value {
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 700;
}

.list-items div p.label {
    font-size: 18px;
    text-transform: capitalize;
}

.hero-section__image {
    width: 510px;
    height: 544px;
    margin-top: 80px;
    margin-left: 135px;
    margin-bottom: 80px;
}

.hero-section__image-mobile {
    display: none;
}

.hero-section__image__content {
    background-color: var(--image-background-color);
    margin-top: -4px;
    padding: 25px;
    border-radius: 0px 0px 20px 20px;
    height: 100px;
}

.hero-section__image__content h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
    color: var(--text-color);
}

.hero-section__image__content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-color);
}

/* Trending Collection */

.trending-collection {
    width: 100%;
    height: auto;
    padding-inline: var(--side-margin);
    margin-top: 80px;
    margin-bottom: 60px;
    padding-bottom: 0.1px;
}

.trending-collection__content h1 {
    width: 1365px;
    height: auto;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 45.6px */
    text-transform: capitalize;
    /* margin-top: 80px; */
    /* margin-left: 120px; */
    color: var(--text-color);
    letter-spacing: 2px;
}

.trending-collection__content p {
    margin-top: 10px;
    width: 1365px;
    height: auto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 35.2px */
    text-transform: capitalize;
    /* margin-left: 120px; */
    /* margin-bottom: 60px; */
    color: var(--text-color);
    letter-spacing: 2px;
}

.trending-collection__card__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
}

.trending-collection__card {
    width: 334px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.collection-card {
    margin-top: 80px;
    margin-bottom: 12px;
    border-radius: 20px;
}

.trending-collection__card:nth-child(1) {
    margin-left: 0;
}

.trending-collection__card:nth-child(3) {
    margin-right: 0;
}

.collection-card img {
    height: 100%;
}

.collection-card__list {
    display: flex;
    justify-content: space-between;
}

.collection-card__list label {
    height: 100px;
    width: 100px;
    padding: 40px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--button-background-color);
    color: var(--text-color);
}

.trending-collection__card .collection-card__list__title h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
    margin-top: 15px;
    color: var(--text-color);
}

.trending-collection__card .collection-card__list__content {
    display: flex;
    margin-top: 10px;
    gap: 12px;

}

.trending-collection__card .collection-card__list__content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-color);
}

/* Top rated artists */

.top-artists {
    width: 100%;
    height: auto;
    padding-inline: var(--side-margin);
    color: var(--text-color);
    margin-top: 80px;
    margin-bottom: 80px;
}

.top-artists .top-artists__content {
    position: relative;
    height: auto;
}

.top-artists .top-artists__content h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 45.6px */
    text-transform: capitalize;
}

.top-artists .top-artists__content p {
    margin-top: 10px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 35.2px */
    text-transform: capitalize;
}

.headline-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

#topArtistsButton {
    /* position: absolute; */
    /* right: 0%;
    top: 31px; */
    height: 60px;
    padding: 0px 50px;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 20px;
    border-color: #A259FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    background-color: var(--background-color);
    color: var(--text-color);
}

#topArtistsButton.desktop-btn {
    display: inline-block;
    width: max-content;
}

#topArtistsButton.mobile-btn {
    display: none;
}

.artist-cards__grid {
    width: 100%;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}

.card {
    position: relative;
    padding: 25px;
    width: 240px;
    height: 250px;
    background-color: var(--image-background-color);
    color: white;
    border-radius: 20px;
}

.artist-cards__grid h4 {
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: var(--background-color);
    color: var(--caption-label-text);

}

.artist-cards__grid img {
    width: 120px;
    height: 120px;

    margin-inline: 35px;
}

.artist-cards__grid h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}

.artist-cards__grid .card .total-sales {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
}

.artist-cards__grid .card .total-sales p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    color: var(--caption-label-text);
}


.artist-cards__grid .card .total-sales label {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* Browse Categories */

.browse-categories {
    width: 100%;
    height: auto;
    padding-top: 0.1px;
    margin-bottom: 80px;
}

.browse-categories .browse-categories__title {
    width: 100%;
    height: auto;
}

.browse-categories .browse-categories__title h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 45.6px */
    text-transform: capitalize;
    margin-inline: var(--side-margin);
    margin-top: 80px;
    margin-bottom: 60px;
    color: var(--text-color);
}

.categories-card__grid {
    width: 100%;
    height: auto;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    align-items: center;
    padding-inline: var(--side-margin);
    /* justify-content: space-between; */
}

.categories-card__grid .category-card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 316px;
    background-color: var(--image-background-color);
    border-radius: 25px;
    overflow: hidden;
}

.categories-card__grid .category-card .imageBox {
    position: relative;
}

.categories-card__grid .category-card .image {
    height: 240px;
    border-radius: 20px 20px 0px 0px;
    filter: blur(8px);
    position: relative;
}

.categories-card__grid .category-card .overlayImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories-card__grid .category-card .collection-name {
    flex: 1;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
    color: var(--text-color);
    background-color: var(--image-background-color);
    padding: 20px 30px;
    z-index: 1;
}

/* Discover more NFTs */

.discover-more__nfts {
    width: 100%;
    height: auto;
    padding-inline: var(--side-margin);
    color: var(--text-color);
    margin-top: 80px;
    margin-bottom: 80px;
}

.discover-more__nfts .section-headline__content {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.discover-more__nfts .section-headline__content h1 {
    width: 860px;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 45.6px */
    text-transform: capitalize;
}

.discover-more__nfts .section-headline__content p {
    margin-top: 10px;
    width: 860px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 35.2px */
    text-transform: capitalize;
}

.discover-more__nfts .section-headline__content #discoverMoreBtn {
    position: absolute;
    right: 0%;
    top: 31px;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-color: #A259FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

.mobile-btn {
    display: none;
}

/* Discover more NFTs cards*/

.discover-more__nfts .nft-card__grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
}

.nft-card__placeholder {
    border-radius: 20px 20px 20px 20px;
    height: fit-content;
    width: 330px;
    background-color: var(--image-background-color);
}

.nft-card__grid .nft-card__placeholder .collection-card__list__content {
    /* display: flex; */
    /* gap: 12px; */
    /* margin-inline: 30px; */
    /* margin-top: 5px; */
    margin: 20px;
}

.nft-card__grid .nft-card__placeholder .collection-card__list__seller {
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}

.nft-card__grid .nft-card__placeholder .collection-card__list__seller p {
    font-family: "Space Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%
}

.nft-card__grid .nft-card__placeholder .collection-card__list__title {
    /* margin-top: 20px; */
    /* margin-inline: 30px; */
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
}

.nft-card__grid .nft-card__placeholder .price-bid__list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.nft-card__grid .nft-card__placeholder .price-bid__list__item {
    flex-basis: 50%;
}

.nft-card__grid .nft-card__placeholder .price-bid__list__item:nth-child(even) {
    text-align: right;
}

.nft-card__grid .nft-card__placeholder .price-bid__list__item p:nth-child(1) {
    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: var(--caption-label-text);
    letter-spacing: 1px;
    margin-top: 10px;
}

.nft-card__grid .nft-card__placeholder .price-bid__list__item p:nth-child(2) {
    font-family: "Space Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 5px;
    justify-content: space-between;
    color: var(--text-color);
    letter-spacing: 1px;
}

/* .nft-card__grid .nft-card__placeholder .price-bid__list1 {
    display: flex;
    margin-top: 27px;
    margin-inline: 30px;
    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    justify-content: space-between;
    color: var(--caption-label-text);
    letter-spacing: 1px;
} */

/* .nft-card__grid .nft-card__placeholder .price-bid__list2 {
    display: flex;
    font-family: "Space Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-inline: 30px;
    margin-top: 8px;
    justify-content: space-between;
    color: var(--text-color);
    letter-spacing: 1px;
} */

/* nft highlights */

.nft-highlight img {
    width: 100%;
}

.nft-highlight__mobile {
    display: none;
}

/* How it works  */

.how-it__works {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.how-it__works .how-it__works__content h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 45.6px */
    text-transform: capitalize;
    color: var(--text-color);
    margin-inline: var(--side-margin);
    margin-bottom: 10px;
}

.how-it__works .how-it__works__content p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 35.2px */
    text-transform: capitalize;
    color: var(--text-color);
    margin-inline: var(--side-margin);
    margin-bottom: 48px;
}

.how-it__works__cardgrid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
    padding-inline: var(--side-margin);
    margin-bottom: 80px;
}

.how-it__works__cardgrid .how-it__works__info__card {
    border-radius: 20px 20px 20px 20px;
    width: 330px;
    background-color: var(--image-background-color);
}

.how-it__works__cardgrid .how-it__works__info__card .how-it__works__icon img {
    margin: 10px 40px;
}

.how-it__works__cardgrid .how-it__works__card__detailes {
    margin: 0px 30px;
    margin-bottom: 30px;
}

.how-it__works__cardgrid .how-it__works__card__detailes h3 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--text-color);
}

.how-it__works__cardgrid .how-it__works__card__detailes p {
    text-align: center;
    color: var(--text-color);
}

/* Subscribe Widget  */

.subscribe-widget {
    width: 100%;
    height: auto;
    color: var(--text-color);

}

.subscribe-widget__grid {
    margin-inline: var(--side-margin);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    justify-content: space-between;
    background-color: var(--image-background-color);
    border-radius: 20px;
    margin-bottom: 80px;
    margin-top: 20px;
}

.subscribe-widget__image img {
    margin: 80px;

}

.subscribe-widget__detail {
    margin: 60px;
    padding: 30px;
    margin-inline: var(--side-margin);
}

.subscribe-widget__detail h1 {
    margin-bottom: 30px;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 73.7px */
    text-transform: capitalize;
}

.subscribe-widget__detail p {
    margin-bottom: 10px;
}


.input-subscribe {
    background-color: var(--text-color);
    display: flex;
    height: 50px;
    border-radius: 20px;
}

.input-subscribe .email {
    /* position: absolute; */
    /* margin-top: 30px; */
    /* width: 200px; */
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: transparent;
}

.input-subscribe button {
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--text-color);
    /* position: absolute; */
    /* padding: 20px; */
    /* top: 30px; */
    /* right: 0; */
    text-align: center;
    border-radius: 20px;
    height: 100%;
    width: 200px;
    border-style: none;
}

.input-subscribe button:hover {
    box-shadow: 0px 1px 9px 0px #7523e0;
    transform: scale(1.01);
}

.input-subscribe button:active {
    background-color: #882bff;
    transform: scale(1);
}

.footer {
    width: 100%;
    background-color: var(--image-background-color);
    color: var(--text-color);
}

.footer .footer-detaile {
    margin-inline: var(--side-margin);
    width: 85%;
    display: flex;
    gap: 50px;
}

.footer .footer-detaile .footer-list1 {
    width: 300px;
    margin: 40px;
}

.footer .footer-detaile .footer-list1 h2 {
    margin-bottom: 25px;
}

.footer .footer-detaile .footer-list1 p {
    margin-bottom: 15px;
    color: #CCCCCC;
}

.footer .footer-detaile .footer-list1 .footer-icon {
    width: 170px;
}

.footer .footer-detaile .footer-list1 .footer-icon i {
    margin-right: 16px;
    border: var(--background-color);
}

.footer .footer-detaile .footer-list2 {
    width: 200px;
    margin: 40px;
}

.footer .footer-detaile .footer-list2 h2 {
    margin-bottom: 25px;
}

.footer .footer-detaile .footer-list2 p {
    margin-bottom: 15px;
    color: #CCCCCC;
}

.footer .footer-detaile .footer-list3 {
    width: 400px;
    margin: 40px;
}

.footer .footer-detaile .footer-list3 h2 {
    margin-bottom: 25px;
}

.footer .footer-detaile .footer-list3 p {
    margin-bottom: 15px;
    color: #CCCCCC;
}

.footer-list3 .footer-list3__label {
    position: relative;
    width: 300px;
}

.footer-list3 .footer-list3__label input {
    padding: 20px;
    position: absolute;
    border-radius: 20px;
}

.footer-list3 .footer-list3__label label {
    position: absolute;
    background-color: var(--button-background-color);
    padding: 20px;
    text-align: center;
    margin-left: 170px;
    border-radius: 20px;
    width: 200px;
    height: 58px;
    top: 1px;
    border-style: none;
}

.footer hr {
    width: 1290px;
    margin-inline: var(--side-margin);
}

.footer #footerText {
    margin-inline: var(--side-margin);
    margin-top: 20px;
    font-size: 12px;
    word-spacing: 2px;
    padding-bottom: 20px;
    color: #CCCCCC;
}

@media all and (max-width: 426px) {
    .navigation {
        padding-inline: 30px;
    }

    .navigation h2 {
        font-size: 1rem;
        margin-left: 0px;
    }

    .navigation ul {
        display: none;
    }

    .navigation #signUp {
        display: none;
    }

    /* Hero Section */
    .hero-section {
        padding-inline: 30px;
        grid-template-columns: 1fr;
    }

    .hero-section__content {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 0px;
        gap: 10px;
    }

    .hero-section__content h1 {
        font-size: 1.2rem;
    }

    .hero-section__content p {
        font-size: .7rem;
    }

    #heroSectonLabel {
        width: 100%;
        height: 50px;
        font-weight: 500;
        margin-block: 40px;
    }

    .list-items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .list-items div p.value {
        font-size: 28px;
        text-transform: capitalize;
        font-weight: 700;
    }

    .list-items div p.label {
        font-size: 18px;
        text-transform: capitalize;
    }

    .hero-section__image {
        display: none;
    }

    .hero-section__image-mobile {
        display: block;
        width: 100%;
        margin: 40px 0 0 0;
    }

    .hero-section__image-mobile img {
        width: 100%;
    }

    /* Trending Collection */
    .trending-collection {
        margin: 40px 0px;
        padding-inline: 30px;
    }

    .trending-collection__content h1 {
        width: auto;
        font-size: 1.2rem;
    }

    .trending-collection__content p {
        font-size: .7rem;
        width: auto;
    }

    .trending-collection__card__grid {
        grid-template-columns: 1fr;
        margin-block: 40px;
    }

    .trending-collection__card {
        width: auto;
        margin-inline: 0px;
    }

    .collection-card img {
        width: 100%;
        height: auto;
    }

    .trending-collection__card:nth-child(2) {
        display: none;
    }

    .trending-collection__card:nth-child(3) {
        display: none;
    }

    /* Top Artists */
    .top-artists {
        padding-inline: 30px;
        margin: 40px 0px;
    }

    .top-artists .top-artists__content h1 {
        width: auto;
        font-size: 1.2rem;
    }

    .top-artists .top-artists__content p {
        width: auto;
        font-size: .7rem;

    }

    #topArtistsButton.desktop-btn {
        display: none;
    }

    #topArtistsButton.mobile-btn {
        width: 100%;
        margin-top: 40px;
        display: inline-block;
    }

    .artist-cards__grid h4 {
        top: -10px;
        left: -10px;
    }

    .card {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 20px;
    }

    .artist-cards__grid img {
        margin-inline: 0px;
        width: 60px;
        height: 60px;
    }

    .card .image {
        position: relative;
    }

    .card .content {
        margin-left: 20px;
    }

    .artist-cards__grid h3 {
        text-align: left;
        margin-top: auto;
    }

    .artist-cards__grid .card .total-sales {
        margin-top: 5px;
    }

    /* Browse Categories */

    .browse-categories {
        padding-inline: 30px;
        margin: 40px 0px;
    }

    .browse-categories .browse-categories__title h1 {
        width: auto;
        font-size: 1.2rem;
        margin-inline: 0px;
        text-align: left;
        margin-top: 0px;
    }

    .categories-card__grid {
        padding-inline: 0px;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: space-between;
    }

    .categories-card__grid .category-card {
        height: auto;
        width: auto;
    }

    .categories-card__grid .category-card .imageBox {
        width: 146px;
    }

    .categories-card__grid .category-card .image {
        width: 100%;
        height: auto;
    }

    .categories-card__grid .category-card .collection-name {
        font-size: 12px;
        padding: 20px;
    }

    /* Discover More NFTs */

    .discover-more__nfts {
        padding-inline: 30px;
        margin: 40px 0px;
    }

    .discover-more__nfts .section-headline__content h1 {
        width: auto;
        font-size: 1.2rem;
        margin-inline: 0px;
        text-align: left;
        margin-top: 0px;
    }

    .discover-more__nfts .section-headline__content p {
        width: auto;
        font-size: .7rem;
    }

    .discover-more__nfts .section-headline__content #discoverMoreBtn {
        display: none;
    }

    .discover-more__nfts .nft-card__grid {
        grid-template-columns: 100%;
        gap: 20px;
    }

    .nft-card__placeholder {
        width: 100%;
    }

    .card-placeholder img {
        width: 100%;
    }

    .mobile-btn {
        width: 100%;
        margin-top: 40px;
        display: inline-block;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border-color: #A259FF;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        background-color: var(--background-color);
        color: var(--text-color);
        cursor: pointer;
    }

    /* NFT highlight */

    .nft-highlight img {
        display: none;
    }

    .nft-highlight__mobile {
        display: inline-block;
        width: 100%;
    }

    .nft-highlight__mobile img {
        width: 100%;
    }

    /* How it works  */

    .how-it__works {
        padding-inline: 30px;
        margin: 40px 0px;
    }

    .how-it__works .how-it__works__content h1 {
        width: auto;
        font-size: 1.2rem;
        margin-inline: 0px;
        text-align: left;
        margin-top: 0px;
    }

    .how-it__works .how-it__works__content p {
        width: auto;
        font-size: .7rem;
        margin-inline: 0px;
        text-align: left;
    }

    .how-it__works__cardgrid {
        /* display: grid; */
        grid-template-columns: 100%;
        row-gap: 20px;
        padding-inline: 0px;

    }

    .how-it__works__cardgrid .how-it__works__info__card {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .how-it__works__cardgrid .how-it__works__info__card .how-it__works__icon img {
        width: 100%;
        margin: auto;
    }

    .how-it__works__icon {
        padding-right: 20px;
    }

    .how-it__works__cardgrid .how-it__works__card__detailes {
        /* margin: ; */
        margin: 0px;
    }

    .how-it__works__cardgrid .how-it__works__card__detailes h3 {
        font-size: 16px;
        text-align: left;
    }

    .how-it__works__cardgrid .how-it__works__card__detailes p {
        font-size: 12px;
        text-align: left;
    }

    /* Subscribe Widget  */

    .subscribe-widget {
        grid-template-columns: 100%;
        padding-inline: 0px;
    }

    .subscribe-widget__grid {
        display: block;
        background-color: var(--background-color);
        width: auto;
        margin-inline: 30px;
    }

    .subscribe-widget__image img {
        margin: auto;
        margin-bottom: 30px;
        width: 100%;
    }

    .subscribe-widget__detail {
        margin: 0px;
        padding: 0px;
    }

    .subscribe-widget__detail h1 {
        width: auto;
        font-size: 1.5rem;
        margin-inline: 0px;
        text-align: left;
        margin-top: 0px;
    }

    .subscribe-widget__detail p {
        width: auto;
        font-size: .7rem;
        margin-inline: 0px;
        text-align: left;
        margin-bottom: 40px;
    }

    .input-subscribe {
        display: block;
    }

    .input-subscribe .email {
        width: 100%;
    }

    .input-subscribe button {
        width: 100%;
        margin-top: 16px;
    }

    .footer {
        margin: 40px 0px 0px;
        height: 776px;
    }

    .footer .footer-detaile {
        display: block;
        margin: 0px;
        width: 100%;
    }

    .footer .footer-detaile .footer-list1 {
        padding: 30px;
        margin: 0px;
        width: 100%;
    }

    .footer .footer-detaile .footer-list1 h2 {
        font-size: 1.2rem;
    }

    .footer .footer-detaile .footer-list1 p {
        font-size: .8rem;
    }

    .footer .footer-detaile .footer-list1 .footer-icon {
        width: auto;
    }

    .footer .footer-detaile .footer-list2 {
        width: 100%;
        padding: 30px;
        margin: 0px;
    }

    .footer .footer-detaile .footer-list2 h2 {
        font-size: 1.2rem;
    }

    .footer .footer-detaile .footer-list2 p {
        font-size: .8rem;
    }

    .footer .footer-detaile .footer-list3 {
        padding: 30px;
        width: auto;
        margin: 0px;
    }

    .footer .footer-detaile .footer-list3 h2 {
        font-size: 1.2rem;
    }

    .footer .footer-detaile .footer-list3 p {
        margin-bottom: 0px;
        font-size: .7rem;
    }

    .footer .footer-detaile .footer-list3 .input-subscribe {
        margin-top: 30px;
    }

    .footer .footer-bottom hr{
       margin-top: 50px;
       width: 80%;
       padding-left: 0px;
       padding-inline: 30px;
       margin-left: 40px;
    }

    .footer .footer-bottom #footerText {
        margin: 20px;
        padding-left: 20px;
    }

}